<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Updated Tickers</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</head>

<body>

    <div style="margin-top: 50px;" class="ui container split left">
        <h2> Latest equity daily ticker updated</h2>
        {% for i in latest_tickerlist %}
        <div class="ui segment">
            <p class="ui big header">{{ i._data['updated_datetime'].strftime('%Y-%m-%d   %H:%M') }} / {{ i._data['ticker'] }} / {{ i._data['tickername'] }}</p>
        </div>
        {% endfor %}
    </div>

    <div style="margin-top: 50px;" class="ui container split left">
        <h2> Earliest equity daily ticker updated</h2>
        {% for i in earliest_tickerlist %}
        <div class="ui segment">
            <p class="ui big header">{{ i._data['updated_datetime'].strftime('%Y-%m-%d   %H:%M') }} / {{ i._data['ticker'] }} / {{ i._data['tickername'] }}</p>
        </div>
        {% endfor %}
    </div>





    <div style="margin-top: 50px;" class="ui container split left">
        <h2> Earliest equity price history updated</h2>
        {% for i in equity_price_history_list %}
        <div class="ui segment">
            <p class="ui big header">{{ i._data['updated_datetime'].strftime('%Y-%m-%d   %H:%M') }} / {{ i._data['ticker'] }} / {{ i._data['tickername'] }}</p>
        </div>
        {% endfor %}
    </div>








    <div style="margin-top: 50px;" class="ui container split right">
        <h2> Earliest time equity daily aggregator avg updated</h2>
        {% for i in equity_daily_agg_avg_list %}
        <div class="ui segment">
            <p class="ui big header">{{ i._data['daily_industry_agg_updated_datetime'].strftime('%Y-%m-%d   %H:%M') }} / {{ i._data['ticker'] }}</p>
        </div>
        {% endfor %}
    </div>
    
    <div style="margin-top: 50px;" class="ui container split right">
        <h2> Earliest time equity daily aggregator rank updated</h2>
        {% for i in equity_daily_agg_rank_list %}
        <div class="ui segment">
            <p class="ui big header">{{ i._data['daily_industry_rank_updated_datetime'].strftime('%Y-%m-%d   %H:%M') }} / {{ i._data['ticker'] }}</p>
        </div>
        {% endfor %}
    </div>


    



    <div style="margin-top: 50px;" class="ui container split right">
        <h2> Earliest time equity industry is updated</h2>
        {% for i in equity_daily_industry_list %}
        <div class="ui segment">
            <p class="ui big header">{{ i._data['daily_agg_record_time'].strftime('%Y-%m-%d   %H:%M') }} / {{ i.id }}</p>
        </div>
        {% endfor %}
    </div>

    <div style="margin-top: 50px;" class="ui container split right">
        <h2> Earliest time equity country is updated</h2>
        {% for i in equity_daily_country_list %}
        <div class="ui segment">
            <p class="ui big header">{{ i._data['daily_agg_record_time'].strftime('%Y-%m-%d   %H:%M') }} / {{ i.id }}</p>
        </div>
        {% endfor %}
    </div>




    <div style="margin-top: 50px;" class="ui container split right">
        <h2> Latest time currency was updated</h2>
        {% for i in fxlist %}
        <div class="ui segment">
            <p class="ui big header">date updated: {{ i._data['datetime_format'].strftime('%Y-%m-%d   %H:%M') }} / when updated: {{ i._data['updated_datetime'].strftime('%Y-%m-%d   %H:%M') }}</p>
        </div>
        {% endfor %}
    </div>




</body>

</html>

