<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Updated Tickers</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</head>

<body>

    <div style="margin-top: 50px;" class="ui container split left">
        <h2> Latest ticker updated</h2>
        {% for i in latest_tickerlist %}
        <div class="ui segment">
            <p class="ui big header">{{ i._data['updated_datetime'] }} / {{ i._data['ticker'] }} / {{ i._data['tickername'] }}</p>
        </div>
        {% endfor %}
    </div>

    <div style="margin-top: 50px;" class="ui container split left">
        <h2> Earliest ticker updated</h2>
        {% for i in earliest_tickerlist %}
        <div class="ui segment">
            <p class="ui big header">{{ i._data['updated_datetime'] }} / {{ i._data['ticker'] }} / {{ i._data['tickername'] }}</p>
        </div>
        {% endfor %}
    </div>


    <div style="margin-top: 50px;" class="ui container split right">
        <h2> Last time currency was updated</h2>
        {% for i in fxlist %}
        <div class="ui segment">
            <p class="ui big header">{{ i._data['currency'] }} / {{ i._data['updated_datetime'] }}</p>
        </div>
        {% endfor %}
    </div>

</body>

</html>